<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap" rel="stylesheet">
    <title>Becca Service</title>
</head>
<body>
    <main>
        <%- body %>
    </main>
</body>
<style>
    * {
        font-family: "Baloo Bhaijaan 2", sans-serif;
        font-optical-sizing: auto;
        font-weight:normal;
        font-style: normal;
    }
</style>
</html>